beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
Flask==3.1.1
google-play-scraper==1.2.7
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
MarkupSafe==3.0.2
nltk==3.9.1
numpy==2.3.2
pandas==2.3.1
plotly==5.18.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.7.34
reportlab==4.0.8
requests==2.32.4
scikit-learn==1.4.0
scipy==1.12.0
six==1.17.0
soupsieve==2.7
spacy==3.7.2
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
waitress==3.0.2
Werkzeug==3.1.3
